$max-width: 1440;
$max-page-padding: 165;
$min-page-padding: 24;

$max-mobile-width: 576px;
$max-tablet-width: 992px;

$amin-time: 300ms;

$c_red: #f25f3a;
$c_very-light-red: #ffefeb;
$c_vert-dark-blue: #1d1e25;
$c_dark-blue: #242d52;
$c_light-blue: #9095a7;
$c_very-light-grey: #fafafa;

